[submodule "vue-ai-tools"]
	path = vue-ai-tools
	url = git@github.com:chris-paganon/vue-ai-tools.git
[submodule "chrispaganon"]
	path = chrispaganon
	url = git@github.com:chris-paganon/chrispaganon.git
