vueai.tools {
	reverse_proxy vue-ai-tools-production-nuxt-app:3000
}
db.vueai.tools {
	reverse_proxy vue-ai-tools-production-pb-db:8080
}
umami.vueai.tools {
	reverse_proxy vue-ai-tools-umami:3000
}

staging.vueai.tools {
	basicauth * {
		admin $2a$14$WG/2Gn5IazFeXrUhNX.HqezWSN.ITxr2JCzYat6ZDQZ5PHiWcFA9y
	}
	reverse_proxy vue-ai-tools-staging-nuxt-app:3000
}
staging.db.vueai.tools {
	reverse_proxy vue-ai-tools-staging-pb-db:8080
}

localhost {
	reverse_proxy vue-ai-tools-local-pb-db:8080
}
