umami.vueai.tools {
	reverse_proxy umami:3000
}

vueai.tools {
	reverse_proxy vue-ai-tools-production-nuxt-app:3000
}
vector.vueai.tools {
	reverse_proxy vue-ai-tools-production-vector-db:6333
}
staging.vueai.tools {
	reverse_proxy vue-ai-tools-staging-nuxt-app:3000
}
staging.vector.vueai.tools {
	reverse_proxy vue-ai-tools-staging-vector-db:6333
}

chrispaganon.com {
	reverse_proxy chrispaganon-production-nuxt-app:3000
}
staging.chrispaganon.com {
	reverse_proxy chrispaganon-staging-nuxt-app:3000
}
