PB_ENCRYPTION_KEY="randomly-generated-secret"
UMAMI_APP_SECRET="randomly-generated-secret"
UMAMI_POSTGRES_DB="vue-tools-ai-umami"
UMAMI_POSTGRES_USER="vue-tools-ai-umami"
UMAMI_POSTGRES_PASSWORD="randomly-generated-secret"

APP_ENV="production"
APP_NAME="vue-tools-ai"
REPO_URL="https://github.com/chris-paganon/vue-tools-ai/archive/refs/heads/"
REPO_BRANCH="master"